<h2>Count of Jobs (level of interest):</h2>
<%= @job_interest.level_of_interest_job %>

<h2>Top Three Companies (level of interest):</h2>
<%= @top_3.level_of_interest_company %>

<h2>Count of Jobs (city):</h2>
<%= @count_of_location.location_sort_hash %>
