All Jobs for <strong><%= @company.name %></strong>
<table>
  <tbody>
    <tr>
<% @jobs.each do |job| %>
  <th><%= link_to job.title, company_job_path(job.company, job) %> at <%= job.company.name %></th>
<% end %>
</tbody>
  </tr>
</table>
<br>

<%= link_to "Create Job", new_company_job_path %>
