<div class="container-fluid">
  <!-- <button type="button" class="btn btn-primary btn-lg">Updates</button> -->
  <img src="/vendor/bootstrap/images/breather-176227.jpg" class="img-responsive" alt="Responsive image">
</div>
<br>
<br>
<br>
<div id="fh5co-footer ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <pclass= class="fixed-bottom">&copy; 2017 Sammy Stylez. All Rights Reserved. <br>Demo Images: <a href="http://unsplash.com" target="_blank">Unsplash</a></p>
      </div>
    </div>
  </div>
</div>
