<table class="table table-striped text-left table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td><%= contact.name %></td>
      <td><%= contact.position %></td>
      <td><%= contact.email %></td>

    </tr>
  </tbody>
</table>
