<div class="text-left">
<h1>All Job Categories</h1>
  <button type="button" class="btn btn-outline-success"><%= link_to "New category", new_category_path %></button>
</div>
<br>
<table class="table text-left table-striped table-bordered">
  <thead>
    <th>Job Category</th>
    <tbody>
  <tr><% @categories.each do |category| %></tr>
    <td><%= link_to category.title, category_path(category) %><br></td>
    <td><button type="button" class="btn btn-light"><%= link_to "Edit", edit_category_path(category) %></button></td>
    <td><button type="button" class="btn btn-outline-secondary"><%= link_to "Delete", category_path(category), method: :delete, data: { confirm: 'Are you sure you want to delete this category?' } %></button></td>
  <% end %>
</tbody>
</thead>
</table>
