<table class="table table-striped text-left table-bordered">
<thead>
  <th><%= @category.title %></th>
    <tbody>

  <tr><% @category.jobs.each do |job| %></tr>
    <td><%= link_to job.title, company_job_path(job.company, job) %></td>
      <% end %>
  </tbody>
</thead>
</table>
