<div class="text-left">

<strong><%= @category.title %></strong>
<br>
<ul>
  <% @category.jobs.each do |job| %>
    <li><%= link_to job.title, company_job_path(job.company, job) %></li>
  <% end %>
</ul>
</div>
